[Unit]
Description=Issue SSL certs for %i
Documentation=man:uacme(1)

[Service]
Environment=UACME_CHALLENGE_PATH=/run/uacme/%i/.well-known/acme-challenge
Environment=UACME_CHALLENGE_HOOK=/usr/share/uacme/uacme.sh
Type=oneshot
Group=ssl-cert
UMask=007
ExecStartPre=-mkdir -p "$UACME_CHALLENGE_PATH"
ExecStart=-uacme -v -c /etc/ssl/uacme -h $UACME_CHALLENGE_HOOK issue %i $UACME_WILDCARD_HOST
ExecStopPost=-rm -rf "$UACME_CHALLENGE_PATH/.well-known"
ExecStopPost=-chmod -R g+rX /etc/ssl/uacme/private/%i
SuccessExitStatus=SUCCESS FAILURE
